.container{
    height: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content:flex-start; 
    /* justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between; */
    /* flex-flow: column wrap; */
    /* gap: 10px; */
    /* flex-wrap:wrap;
    align-items: flex-start;
    align-items: baseline; 
    align-items: center;
    align-items: flex-end;
    align-items: flex-start;
    flex-direction:row-reverse; */
    /* flex-direction: column-reverse; */
}
.box{
    border: 1px solid green;
    background-color: aqua;
    width: 100px;
}
#box-2{
    /* order:2; */
    /* flex-shrink: 4; */
    /* flex-grow: 1; */
}
#box-1{

}
#box-3{

}
#box-4{

}