.container{
    background-color: brown;
    height: 700px;
    width: 504px;
    border: 1px solid black;
    display: grid;
   /* grid-template-rows: 30px 150px 400px 30px;
    grid-template-columns: 400px;
grid-template-areas: "hd" "side" "main" "ft"; */
grid-template-columns: 100px 400px;
grid-template-rows: 30px 1fr 30px;
grid-gap: 4px;
grid-template-areas: "hd hd" "side main" "ft ft";
}
#header{
    grid-area:hd;
}
#sidebar{
    grid-area:side;
}
#content{
    grid-area:main;
}
#Footer{
    grid-area:ft;
}
.box{
    background-color: aqua;
    border: 3px solid black;
    /* width: 100%; 
    height: 100%; */
}